@if (loading()) {
  <p-progressbar
    class="absolute top-15 left-0 w-full"
    mode="indeterminate"
    [style]="{ height: '6px' }"
  />
}
<div class="bg-white p-2 rounded-xl mx-auto block w-fit mt-4 mb-8 shadow-md">
  <p-select-button
    [options]="items"
    optionValue="id"
    [allowEmpty]="false"
    [formControl]="itemControl"
    (onChange)="itemChanged($event)"
  >
    <ng-template #item let-item>
      <div class="flex gap-1"><fa-icon [icon]="item.icon" />{{ item.label }}</div>
    </ng-template>
  </p-select-button>
</div>

<router-outlet> </router-outlet>

<pb-data-table
  class="rounded-2xl overflow-hidden block shadow-md"
  [cols]="cols()"
  [values]="values()"
/>
