<p-table
  [stripedRows]="true"
  [columns]="cols()"
  [value]="values()"
  sortField="id"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template #header let-columns>
    <tr>
      @for (col of columns; track col.header) {
        <th>{{ col.header }}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-rowData let-columns="columns">
    <tr [id]="rowData.id">
      @for (col of columns; track col) {
        @if (col.link) {
          <div (click)="col.link.action(injector, col.id)">
            {{ col.link.label }}
          </div>
        } @else {
          @if (col?.pipe) {
            <td [routerLink]="col.link">
              {{ rowData[col.field] | dynamic: col?.pipe : col?.pipeArgs }}
            </td>
          } @else {
            <td>{{ rowData[col.field] }}</td>
          }
        }
      }
    </tr>
  </ng-template>
</p-table>
