<form [formGroup]="form" (ngSubmit)="save()">
  <div class="grid gap-3">
    <div>
      <label class="block">Name</label>
      <input pInputText formControlName="name" class="w-full" />
    </div>
    <div>
      <label class="block">Pages</label>
      <input pInputText type="number" formControlName="pages" class="w-full" />
    </div>
    <div>
      <label class="block">Value</label>
      <p-inputNumber
        formControlName="value"
        mode="currency"
        currency="USD"
        locale="en-US"
        class="w-full"
      ></p-inputNumber>
    </div>
    <div>
      <label class="block">Quantity</label>
      <input pInputText type="number" formControlName="quantity" class="w-full" />
    </div>
    <div>
      <label class="block">Publishing Start</label>
      <p-datepicker
        formControlName="publishingStart"
        placeholder="YYYY-MM-DD"
        dateFormat="yy-mm-dd"
        [showIcon]="true"
        class="w-full"
      ></p-datepicker>
    </div>
    <div>
      <label class="block">Publishing End</label>
      <p-datepicker
        formControlName="publishingEnd"
        placeholder="YYYY-MM-DD"
        dateFormat="yy-mm-dd"
        [showIcon]="true"
        class="w-full"
      ></p-datepicker>
    </div>
    <div class="relative">
      <label class="block">Authors</label>
      <div class="relative">
        <p-multiSelect
          [options]="authorsOptions()"
          optionLabel="label"
          optionValue="value"
          formControlName="authorIds"
          placeholder="Select authors"
          class="w-full"
          [loading]="authorsLoading()"
        ></p-multiSelect>
      </div>
    </div>
    <div class="relative">
      <label class="block">Categories</label>
      <div class="relative">
        <p-multiSelect
          [options]="categoriesOptions()"
          optionLabel="label"
          optionValue="value"
          formControlName="categoryIds"
          placeholder="Select categories"
          class="w-full"
          [loading]="categoriesLoading()"
        ></p-multiSelect>
      </div>
    </div>
    <div class="relative">
      <label class="block">Materials</label>
      <div class="flex flex-col gap-4">
        <p-select
          [options]="materialsOptions()"
          optionLabel="label"
          optionValue="value"
          formControlName="newMaterialId"
          placeholder="Select material"
          class="w-full"
        ></p-select>
        <div class="flex gap-4">
          <p-inputNumber
            formControlName="newMaterialAmount"
            [min]="1"
            class="w-auto"
          ></p-inputNumber>
          <button pButton type="button" class="p-button-primary" (click)="addMaterial()">
            Add
          </button>
        </div>
      </div>

      <div class="mt-4" [formArrayName]="'materials'">
        @if (form.controls.materials.controls.length === 0) {
          <div>No materials added.</div>
        } @else {
          <table class="w-full table-auto table border-spacing-4 border-separate">
            <thead>
              <tr>
                <th class="text-left font-semibold w-full">Material</th>
                <th class="text-left font-semibold w-20">Amount</th>
                <th class="text-left font-semibold"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ctrl of materialsArray.controls; let i = index" [formGroupName]="i">
                <td class="py-2">{{ materialLabel(ctrl.value.materialId) }}</td>
                <td>
                  <p-inputNumber
                    formControlName="amount"
                    [min]="1"
                    [inputSize]="2"
                    class="w-4"
                  ></p-inputNumber>
                </td>
                <td>
                  <button pButton type="button" class="p-button-text" (click)="removeMaterial(i)">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        }
      </div>
    </div>
  </div>
  <div class="flex justify-end gap-2 mt-4">
    <button pButton type="button" class="p-button-text" (click)="cancel()">Cancel</button>
    <button pButton type="submit" class="p-button-primary" [disabled]="form.invalid">Save</button>
  </div>
</form>
